header{
    color: purple;
    
}
nav{
            margin-bottom: 10px;
            margin-top: 10px;
            padding-left: 350px;
            padding-bottom: 100;
            background-color: blue;
            border-color: black;
            font-size: 30px;
            background: green;
            text-decoration: bold;
            color: crimson;
            border: 2px solid black;
            border: visible;
      
        }



body{
    
    padding-left: 
    align-content: center;
    background-color: azure;
    
}
h1{
    
    align-content: center;
    padding-left: 300px;
    color: blue;
    
    
}

    
    
